body, html {
    margin: 0;
    padding: 0;
}

.header{
    position: fixed;
    top:0;
    width: 100vw;
    height: auto;
    background-color: #171717;
}

.icon-visibility{
    visibility: hidden;
    background-color: #171717;
}

.not-visible{
    display: none;
}

.mobile-nav-bar {
    position: fixed;
    top: 0;
    left: 0; /* Add this line to ensure it's flush with the left edge */
    width: 200px;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    z-index: 99999;
    justify-content: center;
    align-items: center;
}

.close-text{
    color: white;
}

.nav-item{
    display: flex;
    justify-content: flex-end;
    margin-right: 8%;
    margin-top:10px;
}

.nav-item li{
    font-size: 1.25rem;
    list-style-type: none;
    padding: 0px 0px 0px 30px;
}

.nav-item li a{
    text-decoration: none;
    color: whitesmoke;
}

.nav-item li:hover{
    cursor: pointer;
}

.nav-item li:first-of-type{
    padding: 0;
}

.title h1{
    color: whitesmoke;
}

.tp-link{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.tp-link:after{
    content: '';
    width: 0; height: 3px;
    display: block;
    position: absolute;
    margin-top: 2px;
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.tp-link:hover::after{
    width: 100%;
    left: 0;
    background: #fff;
}

.landing-page{
    background-color: #171717;
    color: white;
}

.landing-page img{
    width: 100% !important;
    height: 100%;
    padding-top: 0;
}

.project-2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
}

.project-2 .image-container{
    background-color: #171717;
    flex-shrink: 1;
    width: 480px;
    height: 430px;
    margin: 50px 30px 50px;
}

.image{
    width: 100% !important;
    height: 100%;
}

.project-2 .content{
    margin: 50px 30px 0px;
    flex-shrink: 1;
    height: 430px;
    text-align: start;
    padding: 0 10% 10% 0;
    flex-wrap: wrap;
}

.content h2{
    font-weight: 700;
}

.capstone-link{
    text-decoration: none;
    color: #171717;
    font-size: 1em;
    font-weight: 700;
}

.capstone-link:hover{
    font-size: 1.25em;
}

.icon-square{
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}

#hanging-icons > h2{
    font-weight: 700;
}

#second-capstone{
    background-color: transparent;
}

#second-capstone .image-container{
    position: inherit;
    background-color: transparent;
    margin: 50px 30px 50px;
    
}

#second-capstone .image-container img{
    object-fit: fill;
}

#footer{
    background-color: #171717;
    height: 100%;
}

#copyright{
    color: #fff;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .project-2 .content{
        margin: 10px 30px 30px;
        flex-shrink: 1;
        height: auto;
        text-align: center;
        padding: 0 10% 10% 10%;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    .header {
        display: none;
    }

}
